nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"


params.manifest_version = "1.2.0"
params.laava_dir = "${projectDir}"

params.inputs = "" //* @input @file @description:"Sequencing reads or unmapped bam files."
params.mate = "" //* @dropdown @options:"single","pair" @description:"Single-End or Paired-End Data for reads. If you are providing BAM files as input, you need to ensure that the "mate" parameter is set to 'single'"

// Shared inputs
params.genome_build = "" //* @dropdown @options:"human_hg38_AAV2","custom"
params.vector_type = "ss" //* @dropdown @options:"ss","sc"  @description:"Whether the vector construct is designed to be single-stranded AAV (ssAAV), self-complementary AAV (scAAV), or unknown/unspecified."
params.vector_bed = "" //* @input @single_file @optional @description:"Annotated vector construct region coordinates in 4-column UCSC BED format. This file must indicate the transgene/payload region via either two labeled Inverted Terminal Repeat (ITR) regions (see itr_label_1 and itr_label_2 below) or, as a legacy mode, one region with the label 'vector', spanning both ITRs (inclusive)."
params.vector_fa = "" //* @input @single_file @description:"Vector plasmid, as a single-record FASTA."
params.packaging_fa = "" //* @input @optional @single_file @description:"Packaging sequences (optional) -- helper and rep/cap plasmids, and other sequences of interest (e.g. Lambda), as a multi-record FASTA."
params.host_fa = "" //* @input @optional @single_file @description:"Host genome (optional but recommended), as a multi-record FASTA. Best to include only the canonical chromosomes and not the alternative contigs."
params.flipflop_fa = "" //* @input @optional @single_file @description:"Flip/flop ITR sequences (FASTA; optional). AAV2 sequences are built in and available by default; provide custom sequences here to use another serotype (and use a different value for the 'AAV Serotype' option)."
params.ITR_pos_1 = "" //* @input @optional @description:"Position (range) of the first ITR region (i.e '0-145')"
params.ITR_pos_2 = "" //* @input @optional @description:"Position (range) of the second ITR region (i.e '2289-2434')"
params.mITR_pos = "" //* @input @optional @description:"Position (range) of the mutant ITR (mITR) region (i.e '2289-2434')"

// Labels
params.view_label_settings = "yes" //* @dropdown @options:"yes" @show_settings:"params.flipflop_name,params.lambda_name,params.helper_name,params.repcap_name"
params.itr_label_1 = "" //* @input @optional @description:"ITR labels used in the vector annotation BED file. These are case-sensitive and must match exactly. The order does not matter: LAAVA will check for the presence of all the given labels in the annotation BED file, and treat the first match as the left (5') ITR.If the annotation uses the same label for both, e.g. 'ITR', you only need to specify itr_label_1 as 'ITR', and that label will correctly match both ITR regions in the annotation BED."
params.itr_label_2 = "" //* @input @optional @description:"ITR labels used in the vector annotation BED file. These are case-sensitive and must match exactly. The order does not matter: LAAVA will check for the presence of all the given labels in the annotation BED file, and treat the second as the right (3') ITR. If the annotation uses the same label for both, e.g. 'ITR', you only need to specify itr_label_1 as 'ITR', and that label will correctly match both ITR regions in the annotation BED."
params.mitr_label = "" //* @input @optional @description:"mITR labels used in the vector annotation BED file. For scAAV vector constructs, the mutant ITR (mITR) should be specified with mitr_label instead of itr_label_2."
params.repcap_name = "pRep2Cap9" //* @input @optional @description:"Sequence IDs used in the packaging FASTA file: repcap_name"
params.helper_name = "pHelper" //* @input @optional @description:"Sequence IDs used in the packaging FASTA file: helper_name"
params.lambda_name = "Lambda" //* @input @optional @description:"Sequence IDs used in the packaging FASTA file: lambda_name"
params.flipflop_name = "AAV2" //* @input @description:"ITR AAV Serotype name (flipflop_name). Selects a set of built-in ITR sequences for flip/flop analysis. Currently, the only built-in set of ITR sequences is for the AAV2 serotype."

params.use_ITR_locations = "yes" //* @dropdown @options:"yes","no" @show_settings:"params.mITR_pos,params.ITR_pos_2,params.ITR_pos_1" @description:"Manually enter ITR locations instead of providing a annotation .bed file?" 
params.use_bed_file      = "yes" //* @dropdown @options:"yes","no" @show_settings:"params.mitr_label,params.itr_label_2,params.itr_label_1,params.vector_bed" @description:"Provide a annotation .bed file? It is not necessary to manually enter ITR regions if this file is provided."

// Options
params.view_other_settings = "yes" //* @dropdown @options:"yes" @show_settings:"params.min_supp_joint_coverage, params.max_allowed_missing_flanking, params.max_allowed_outside_vector, params.target_gap_threshold"
params.target_gap_threshold = 200 //* @input
params.max_allowed_outside_vector = 100 //* @input
params.max_allowed_missing_flanking = 100 //* @input
params.min_supp_joint_coverage = 0.8 //* @input
params.run_Clair3 = "yes" //* @dropdown @options:"yes","no" @description:"Perform variant calling with Clair3?" @show_settings:"Clair3"

// Clair3
defparams.Clair3.platform = "hifi"
defparams.Clair3.model_name = "hifi_revio"
params.bed_fn = "" //* @input @optional @single_file @description:"Call variants only in the provided bed regions."
params.vcf_fn = "" //* @input @optional @single_file @description:"Candidate sites VCF file input, variants will only be called at the sites in the VCF file if provided."

//* autofill


_species = ""
_build = ""
_shareLaava = ""

if (params.genome_build == "human_hg38_AAV2"){
    _species = "human"
    _build = "hg38"
} 

if ($HOSTNAME == "default"){
    _shareLaava = "${params.DOWNDIR}/genome_data_other/laava"
    $DOCKER_IMAGE = "quay.io/viascientific/laava:1.0.0"
    $SINGULARITY_IMAGE = "quay.io/viascientific/laava:1.0.0"
}

if (params.genome_build && $HOSTNAME){
	params.packaging_fa = "${_shareLaava}/${_species}/${_build}/packaging.fa" 
	params.host_fa      = "${_shareLaava}/${_species}/${_build}/hg38.chr19trunc-chrM.fa" 
    params.flipflop_fa  = "${_shareLaava}/${_species}/${_build}/AAV2.flipflop.fasta"
}


//* autofill

